<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OmniBus.Framework" version="0.6.0" targetFramework="net46" />
  <package id="OmniBus.Framework.GUI" version="0.6.0" targetFramework="net46" />
  <package id="OmniBus.Framework.Shared" version="0.6.0" targetFramework="net46" />
</packages>