<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OmniBus.Framework" version="0.5.3" targetFramework="net45" />
  <package id="OmniBus.Framework.GUI" version="0.5.3" targetFramework="net45" />
  <package id="OmniBus.Framework.Shared" version="0.5.3" targetFramework="net45" />
</packages>